<div id="main-frame">
    <div data-controller="welcome" data-welcome-galaxy="<%= asset_path('galaxy.jpg') %>">
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50">
            <div class="flex justify-center items-center text-cyan-500 shadow-cyan-50 font-bold text-3xl">
                ExoSky
            </div>
            <select id="exoplanet-select" 
                    data-action="change->welcome#selectExoplanet"
                    data-welcome-target="exoplanet"
                    class="mt-2 p-2 bg-gray-900 text-white rounded-lg border border-gray-600 shadow-lg hover:shadow-cyan-500/50 focus:ring-4 focus:ring-cyan-300 focus:outline-none transition duration-300 ease-in-out">
                <option class="text-white font-bold" value="">Select an Exoplanet</option>
                <% @exoplanets.each do |exoplanet| %>
                    <option value="<%= exoplanet.id %>"><%= exoplanet.pl_name %></option>
                <% end %>
            </select>
        </div>
        <div data-welcome-target="canvas" class="w-full h-full fixed top-0 left-0"></div>
    </div>
</div>
